body {
    height: 100%;
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-lumora {
    width: 120px;
    height: auto;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-logo {
    margin-left: 20px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.flotante {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}

/* Letters NavBar */
.active {
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #D72638;
}

/* Letters NavBar */

/* Description and Tittle */
.seccion-titulo {
    text-align: center;
    /* padding: 60px 20px 0px; */
    background-color: #ffffff;
    margin-top: 60px;
}

.titulo-laumora {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    color: #D72638;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.descripcion-laumora {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #333333;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
}

.search {
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

/* Description and Tittle */

.container-grid {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    gap: 10px;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

.caja {
    background-color: #F4F4F4;
    font-size: 18px;
}

.caja1 {
    background-color: #F4F4F4;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.caja2 {
    grid-column: 1;
    grid-row: 2;
}

.caja3 {
    grid-column: 1 / 3;
    grid-row: 2;
}

.caja4 {
    grid-column: 1 / 3;
    grid-row: 3;
}

section p {
    text-align: left;
}

/* Estilos para el contenedor de productos */
#productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
    /* hace que se recorte en lugar de deformar */
    object-position: center;
    /* centra el recorte */
}

.product-card img:hover {
    transform: scale(1.05);
}

.product-card h3 {
    font-size: 0.9rem;
    margin: 10px 0 5px;
}

.product-card p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0px;
}

/* Estilos para la paginación */
.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 10px;
}

.paginacion button {
    background-color: #D72638;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.paginacion button:hover:not(:disabled) {
    background-color: #b81e2b;
}

.paginacion button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos para el Modal y sus componentes, incluyendo el botón de reserva */
.modal {
    display: none;
    /* Oculto por defecto, se muestra con JS */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Apila los elementos verticalmente */
}

.modal-content-img {
    display: block;
    max-width: 65%;
    max-height: 65%;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.boton-reserva {
    display: block;
    width: 200px;
    padding: 12px 24px;
    margin-top: 30px;
    background-color: #198c43;
    /* Color de WhatsApp */
    color: white;
    text-decoration: none;
    border-radius: 325px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s, background-color 0.2s;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.boton-reserva:hover {
    background-color: #1DA851;
    transform: scale(1.05);
}

/* Whats App Fixed */
.whatsapp-fijo {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
}

.whatsapp-fijo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.whatsapp-fijo img:hover {
    transform: scale(1.1);
}

/* Whats App Fixed */

/* Footer */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 40px 20px;
    background-color: #111;
    color: #eee;
    border-radius: 0px 0px 0px 0px;
}

.footer-section {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-section h3,
.footer-section h4 {
    color: #e63946;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-logo {
    width: 120px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.redes a img {
    width: 30px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.redes a img:hover {
    transform: scale(1.5);
}

.footer-bottom {
    background-color: #000;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #aaa;
    width: 100%;
    height: 120px;
    margin: auto;
}

.footer-bottom p a {
    color: #1DA851;
    text-decoration: none;
    display: inline-block;
    /* importante para que transform funcione */
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-bottom p a:hover {
    transform: scale(1.04);
    color: #148d3b;
    /* opcional */
}

/* Quitar línea azul debajo de los iconos de redes */
.redes a {
    text-decoration: none;         /* quita subrayado */
}
/* Footer */

/* RESPONSIVE */
@media (max-width: 500px) {
    .container-grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
    }
    .caja,
    .caja1,
    .caja2,
    .caja3,
    .caja4 {
        grid-column: 1;
    }
    #productos-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .product-card img {
        width: 145px;
        height: 145px;
    }
    .modal-content {
        max-width: 30px;
    }
    .paginacion button {
        padding: 5px 9px;
    }
    .paginacion {
        position: fixed;
        bottom: 10px;
        left: 0px;
    }
    .modal-content-img {
        max-width: 85%;
        max-height: 85%;
        border-radius: 10px;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    }
    .whatsapp-fijo {
        bottom: 60px;
        right: 10px;
    }
    .whatsapp-fijo img {
        width: 48px;
        height: 48px;
    }
    
}